* {
  box-sizing: border-box;
}

body {
  background-image: url('https://i.pinimg.com/736x/ab/f2/24/abf224e8feadf3fb5115594c07e14617.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input,
.select,
.annotation textarea {
  font-size: 16px;
}

.button {
  font-size: 16px;
}

.logo-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logo {
  border-radius: 50%;
}

@media (min-width: 601px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 25px;
    height: 25px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-sm-4 {
  width: calc(33.333% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.input,
.select,
.annotation textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

.annotation textarea {
  height: 90px;
}

.button {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #0078d4;
  color: white;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005a9e;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 600px) {
  body {
    background-image: url('https://i.pinimg.com/236x/f7/2e/8e/f72e8e3a9ba32067d3893a521e99a9c1.jpg');
  }

  .col-sm-4 {
    margin: 10px 0;
  }

  .annotation textarea {
    height: 60px;
  }

  .buttons {
    margin-top: 30px;
  }
}
/* O restante do seu código CSS permanece inalterado */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /* Adicionado para alinhar os itens no topo */
}

.col-sm-8 {
  width: calc(66.666% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

.annotation textarea {
  height: 150px;
}
